.card.small {
    height: 260px;;
    border: 3px solid #F44336;
}

.card .card-title {
    font-size: 18px;
    font-weight: 300;
    font-family: "marvel";
    position: relative;
    left: 5px;
}

.link {
    font-size: 30px;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    cursor: pointer;
}